 body{ 
     background-color: #EAF6F6;

    
}

h1 {
    color: #65C18C;
}
h2{
    color:#65C18C ;
}
h3 {
    color:#65C18C;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color:rgb(69, 12, 201); 
    border-width: 5px; ;
    width:5%;
}
